<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="./Logo/Snake-App-Icon.png"/>
    <title>Snake Bite Backend</title>
    <style>
      body {
        position: relative;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
      }
      div{
        position: absolute;
        left: 30%;
        margin-top: 10%;
      }
      img{
        position: absolute;
        width: 33%;
        left: 33%;
        border: solid 0.15rem black;
        border-radius: 2rem;
      }

    </style>
  </head>
  <body>
    <div>
      <h1>Welcome to Snake Bite Backend</h1>
      <img  src="./Logo/Snake-App-Icon.ico" alt="Logo"></img>
    </div>
      
  </body>
</html>